    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Admin Panel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link"routerLink="/users">Users</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/adduser">Add New User </a>
              </li>

              <li class="nav-item">
                <a class="nav-link"routerLink="/adminHome">Books</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/addbook">Add New Book</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/manageUserBookReq">Requested Books</a>
            </li>

          </ul>
      </div>
  </nav>

  <!-- Main Content -->
  <div class="container mt-2">
      <div class="row">
          <div class="col-md-12 text-center">


          </div>
      </div>
  </div>





  <div class="container mt-2">
    <div class="row">
      <div class="col-12">
        <h3 class="m-2">Available Books</h3>
        <div class="card">
          <div class="card-header">
            Book List
          </div>
          <div class="card-body">
            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Description</th>
                  <th scope="col">Requests</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let book of books">
                  <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.description }}</td>
                    <td>
                      <button class="btn btn-info" (click)="manageReq(book.id)">Requested by</button>
                    </td>
                  </tr>
                  <tr *ngIf="selectedBookId === book.id">
                    <td colspan="4">
                      <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center"  *ngFor="let userRequest of userRequests">
                        User Name:  {{ userRequest.userName }} --> Requested at: {{ userRequest.requestDate }}
                       <span *ngIf="userRequest.cancelDate"> CanceledAt: {{ userRequest.cancelDate }}</span>
                        <button *ngIf="!userRequest.cancelDate" class="ms-5 btn-sm btn-danger" (click)="deleteReq(userRequest.userName, book.id)">cancel</button>

                      </ul>
                    </td>
                  </tr>

                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer bg-light py-3">
      <div class="container text-center">
          <span class="text-muted">&copy; 2024 Your Company</span>
      </div>
  </footer>
