    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Admin Panel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link"routerLink="/users">Users</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/adduser">Add New User </a>
              </li>

              <li class="nav-item">
                <a class="nav-link"routerLink="/adminHome">Books</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/addbook">Add New Book</a>
              </li>
          </ul>
      </div>
  </nav>

<div class="bg-dark">
<section class="vh-100 gradient-custom">
  <div class="container  h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-lg card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add New User</h3>
            <form (ngSubmit)="addNewUser()">

              <div class="row">

                <div class="col-md-6 mb-4">

                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="firstName"  name="firstName" [(ngModel)]="user.firstName" class="form-control form-control-lg" />
                    <label class="form-label" for="firstName">First Name</label>
                  </div>

                </div>




                <div class="col-md-6 mb-4">

                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="lastName"  name="lastName" [(ngModel)]="user.lastName" class="form-control   form-control-lg" />
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>

                </div>


                <div class="col-md-6 mb-4">

                  <div data-mdb-input-init class="form-outline">
                    <input type="text" id="userName" name="userName" name="userName"  [(ngModel)]="user.userName" class="form-control form-control-lg" />
                    <label class="form-label" for="userName">User Name</label>
                  </div>

                </div>


              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div data-mdb-input-init class="form-outline datepicker w-100">
                    <input type="password" name="password"  class="form-control form-control-lg"  [(ngModel)]="user.password" id="password" name="password" />
                    <label for="password" class="form-label">Password</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Gender: </h6>


                  <div class="d-flex flex-row align-items-center mb-1">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="MALE" value="MALE" [(ngModel)]="user.gender"  checked>
                      <label class="form-check-label" for="MALE">Male</label>
                    </div>
                    <div class="form-check m-3">
                      <input class="form-check-input" type="radio" name="gender" id="FEMALE" value="FEMALE" [(ngModel)]="user.gender"  >
                      <label class="form-check-label" for="FEMALE">Female</label>
                    </div>
                  </div>



                </div>
              </div>




              <div class="mt-4 pt-2">
                <input data-mdb-ripple-init class="btn btn-secondary btn-lg" type="submit" value="Submit" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
